.vscode/**
.vscode-test/**
src/**
test/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
**/node_modules/**
**/.DS_Store
.editorconfig
.prettierrc
.eslintignore
*.vsix
build.js
README.md
CHANGELOG.md
